<div data-controller = "hello" data-hello-target="source">
</div>

<br>
<br>

<div data-controller = "toggle">
  <button data-action = "toggle#hideorreveal">Click Me To Toggle Div Below</button>
  <div data-toggle-target="div">
    We cannot see this hidden div.
  </div>
  <br>
  <br>
  <button data-action = "toggle#reveal">Click Me To Show Menu</button>
    <select data-toggle-target = "menu">
      <option>First option here</option>
      <option>Second option here</option>
      <option>Third option here</option>
      <option>Fourth option here</option>
    </select>
  <br>
  <br>
  <button data-action = "toggle#hideandrevealanother" data-toggle-target="hideme">Click Me So I Disappear And Show another input box</button>
  <br>
  <textarea data-toggle-target = "revealme"></textarea>



  
  </div>

