<div data-controller = "hello" data-hello-target="source">
</div>

<br>
<br>

<div data-controller = "toggle">
  <button data-action = "toggle#hideorreveal">Click Me To Toggle Div Below</button>
  <div data-toggle-target="div">
    We cannot see this hidden div.
  </div>
  <br>
  <br>
  <button data-action = "toggle#reveal">Click Me To Show Menu</button>
    <select data-toggle-target = "menu">
      <option>First option here</option>
      <option>Second option here</option>
      <option>Third option here</option>
      <option>Fourth option here</option>
    </select>
  <br>
  <br>
    <button data-action = "toggle#hideandrevealanother" data-toggle-target="hideme">Click Me So I Disappear And Show another input box
    </button>
  <br>
  <textarea id="revealedtextarea" data-toggle-target = "revealme"></textarea>
  <br>
  <br>
    <div class="withcheckbox" data-toggle-target="checkbox">
      <input type="checkbox" data-action = "toggle#highlight">
      </input>
    </div>
  </div>
  <div data-controller = "text">
    <div data-text-target="error_div">
      <p id="warning" data-text-target="warning">You are getting close to the 280-character limit.</p>
      <p id="error" data-text-target="error">You have exceeded the 280-character limit.</p>
    </div>
    <input id="limited_text" type="text" data-text-target="limited_text" data-action="keyup->text#check_length">
  </div>

