<div data-controller = "hello" data-hello-target="source">
</div>

<br>
<br>

<div data-controller = "toggle">
  <button data-action = "toggle#hideorreveal">Click Me</button>
  <div data-toggle-target="div">
    We cannot see this hidden div.
  </div>
</div>

